#top {
  width: 800px; /* 横幅を800px */
  background-color: #dcc9f4; /* 背景色を「#dcc9f4」 */
  margin: 20px; /* 上下に20pxの余白を入れて */ 
  margin-left: auto; /*画面の中央に配置 */
  margin-right: auto;
  text-align: center; /* 中にあるp要素が中央揃え */
}
  .top-child {
    width: 20%; /* 横幅を親要素の20% */
    background-color: #ffd9df; /* 背景色を「#ffd9df」 */
    display: inline-block; /* 3つのp要素が横並び */
  }

#middle {
  width: 800px; /* 横幅を800px */
  height: 800px; /* 高さを800px */
  margin:  20px; /* 上下に20pxの余白 */
  margin-left: auto; /*画面の中央に配置 */
  margin-right: auto;
  background-color: #ffd9df; /* 背景色を「#ffd9df」 */
  position: relative;/* 「基準にしたい親要素にposition: relative;を指定しておく */
}
  #middle-child01, #middle-child02, #middle-child03 { /* 共通 */
    width: 200px; /* 横幅を200px */
    height: 200px; /* 高さを200px */
    background-color: #87ceed; /* 背景色を「#87ceeb」 */
    position: absolute;
  }
  #middle-child01 { /* 親要素のdiv要素（id名「middle」）の上から100px、左から100px距離 */
    top: 100px;
    left: 100px;
  }
  #middle-child02 { /* 親要素のdiv要素（id名「middle」）の上から300px、左から300px距離 */
    top: 300px;
    left: 300px;
  }
  #middle-child03 {/* 親要素のdiv要素（id名「middle」）の上から500px、左から500px距離 */
    top: 500px;
    left: 500px;
  }

#bottom {
  width: 800px; /* 横幅を800px */
  height: 300px; /* 高さを300px */
  margin-left: auto; /*画面の中央に配置 */
  margin-right: auto;
  background-color: #87ceed; /* 背景色を「#87ceed 」 */
  position: relative;/* 「基準にしたい親要素にposition: relative;を指定しておく */
}
  #bottom-child01, #bottom-child02, #bottom-child03 {
    width: 400px; /* 横幅を400px */
    height: 100px; /* 高さを100px */
    background-color: #e5dcf0; /* 背景色を「#e5dcf0」 */
    position: absolute;
  }
  #bottom-child02 {/* 左から200pxずらして配置 */
    top: 100px;
    left: 200px;
  }
  #bottom-child03 {/* 左から400pxずらして配置 */
    top: 200px;
    left: 400px;
  }